dify/ad_copy_interactive.yml
app:
  description: Interactive copy generator with quiz-style questions and chat refinement
  icon: "\U0001F4AC"
  icon_background: "#FFF3E0"
  mode: advanced-chat
  name: Ad Copy Generator (Interactive)
  use_icon_as_answer_icon: false

kind: app
version: 0.1.3

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
      image:
        enabled: false
    opening_statement: "Hey! I'll help you create ad copy. Just paste your content and I'll ask a few quick questions to nail the perfect tone. Quick start: Paste your website copy, product description, or landing page text below."
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: llm
        id: e1
        source: "1"
        sourceHandle: source
        target: "2"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: answer
        id: e2
        source: "2"
        sourceHandle: source
        target: "3"
        targetHandle: target
        type: custom
    nodes:
      - data:
          desc: "Minimal start - just content input"
          selected: false
          title: Start
          type: start
          variables:
            - label: "Paste your content (website copy, product description, etc.)"
              max_length: 100000
              required: false
              type: paragraph
              variable: content_source
        height: 54
        id: "1"
        position:
          x: 30
          y: 300
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Interactive copy generator with quiz and refinement
          memory:
            query_prompt_template: ""
            window:
              enabled: true
              size: 20
          model:
            completion_params:
              temperature: 0.8
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
          prompt_template:
            - id: sys
              role: system
              text: |
                You are a copywriter who writes clean, intelligent ad copy. You adapt to any style the user needs.

                PHASE 1 - UNDERSTAND THE BRIEF
                Ask 2 quick questions:

                1. "What style fits your brand?"
                - Minimalist and clean - Apple-like simplicity
                - Direct and confident - says it straight
                - Witty and clever - smart humor
                - Bold and provocative - challenges thinking
                - Warm and human - genuine connection
                - Meme-style / ugly ad - raw, attention-grabbing

                2. "Anything to avoid?" (words, phrases, vibes)

                PHASE 2 - GENERATE 3 VARIATIONS
                Format:
                ---
                1. [Style note]
                Hook: [5-10 words]
                Body: [2-3 sentences]
                CTA: [2-4 words]
                ---

                Then ask which to refine or approve.

                PHASE 3 - ITERATE
                Apply feedback until user approves. Then output final copy cleanly.

                WRITING PRINCIPLES:

                VOICE: Write like a founder explaining something to a peer over coffee. Not like a copywriter trying to sell. State facts. Share insights. Let the reader decide.

                NEVER do this:
                - Cliches: "unlock", "game-changer", "революция", "прорыв", "взрывной рост"
                - Hype: "amazing", "incredible", "невероятный", "уникальный"
                - Fake urgency: "hurry", "limited time", "только сегодня", "успей"
                - Bureaucratic: "осуществлять", "в рамках", "является", "позволяет"
                - Infobusiness: "секрет успеха", "узнай как", "топ-10", "пошаговый"
                - Condescending: "пора адаптироваться", "ваша очередь", "хватит терять"
                - Lecturing the reader about what they're doing wrong
                - Exclamation marks!!!

                ALWAYS do this:
                - State what exists, not what reader should feel
                - Specific numbers and facts over vague benefits
                - One idea per sentence, short sentences
                - Sound like you're sharing, not selling
                - Respect reader's intelligence - they'll get it

                GOOD (founder voice):
                - "AI processes 1000 companies while your team does 100."
                - "Decision-makers who aren't in Apollo. That's who we find."
                - "7-minute read. No pitch at the end."
                - "Outbound without the spam folder."

                BAD (copywriter voice):
                - "Unlock explosive growth with our revolutionary solution!"
                - "Tired of low conversions? We have the answer!"
                - "It's time to transform your approach!"
                - "Your competitors are already doing this. Are you?"

                Match user's language. Russian prompt = Russian copy. Adapt formality to their level.
            - id: usr
              role: user
              text: |
                {{#1.content_source#}}

                {{#sys.query#}}
          selected: false
          title: Copy Generator
          type: llm
          variables:
            - value_selector:
                - "1"
                - content_source
              variable: content_source
            - value_selector:
                - sys
                - query
              variable: query
          vision:
            enabled: false
        height: 98
        id: "2"
        position:
          x: 334
          y: 300
        type: custom
        width: 244

      - data:
          answer: "{{#2.text#}}"
          desc: ""
          selected: false
          title: Answer
          type: answer
          variables: []
        height: 107
        id: "3"
        position:
          x: 638
          y: 300
        type: custom
        width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
