dify/ad_creative_agent.yml
app:
  description: Auto-generates ad creatives with 4 visual formats
  icon: "\U0001F3A8"
  icon_background: "#FFEAD5"
  mode: workflow
  name: Ad Creative Agent
  use_icon_as_answer_icon: false

kind: app
version: 0.1.3

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
      image:
        enabled: false
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: llm
        id: e1
        source: "1"
        sourceHandle: source
        target: "2"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: llm
        id: e2
        source: "2"
        sourceHandle: source
        target: "3"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: http-request
        id: e3
        source: "3"
        sourceHandle: source
        target: "4"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: http-request
          targetType: http-request
        id: e4
        source: "4"
        sourceHandle: source
        target: "5"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: http-request
          targetType: end
        id: e5
        source: "5"
        sourceHandle: source
        target: "6"
        targetHandle: target
        type: custom
    nodes:
      - data:
          desc: "Configure your ad creative"
          selected: false
          title: Start
          type: start
          variables:
            - label: "Ad Request (describe what you want)"
              max_length: 1000
              required: true
              type: paragraph
              variable: query
            - label: "Visual Format"
              required: false
              type: select
              variable: format_type
              options:
                - "meme"
                - "text_only"
                - "split"
                - "stickers"
              default: "meme"
            - label: "CTA Style"
              required: false
              type: select
              variable: cta_style
              options:
                - "text"
                - "button"
              default: "text"
            - label: "Right Side Color (for split format)"
              max_length: 20
              required: false
              type: text-input
              variable: right_bg_color
              default: "white"
        height: 150
        id: "1"
        position:
          x: 80
          y: 282
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Analyze the ad request
          model:
            completion_params:
              temperature: 0.7
            mode: chat
            name: gpt-4o
            provider: openai
          prompt_template:
            - id: sys
              role: system
              text: |
                You are an expert Creative Director. Analyze the user's request.

                User selected format: {{#1.format_type#}}
                User selected CTA style: {{#1.cta_style#}}

                Extract:
                1. Product Name
                2. Target Audience
                3. Visual Style
                4. Platform (use: instagram_square, instagram_story, tiktok, youtube_shorts)
                5. Number of variations (default: 3)

                Output ONLY valid JSON:
                {
                  "platform": "instagram_square",
                  "num_variations": 3,
                  "text_color": "white",
                  "prompt": "Detailed image generation prompt for the background...",
                  "negative_prompt": "text, words, letters, bad quality, blurry",
                  "safe_zone": "auto"
                }
            - id: user
              role: user
              text: "{{#1.query#}}"
          selected: false
          title: Analyze Brief
          type: llm
          vision:
            enabled: false
        height: 98
        id: "2"
        position:
          x: 380
          y: 282
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Generate ad copy variations
          model:
            completion_params:
              temperature: 0.8
            mode: chat
            name: gpt-4o
            provider: openai
          prompt_template:
            - id: sys
              role: system
              text: |
                Generate ad copy variations based on this brief.

                Brief: {{#2.text#}}

                Output ONLY valid JSON array:
                [
                  {"hook": "Punchy Hook 1", "body": "Short body text", "cta": "Shop Now"},
                  {"hook": "Punchy Hook 2", "body": "Short body text", "cta": "Learn More"}
                ]

                Generate exactly the number of variations requested in the brief.
          selected: false
          title: Generate Copy
          type: llm
          vision:
            enabled: false
        height: 98
        id: "3"
        position:
          x: 680
          y: 282
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: |
              {
                "prompt": "{{#2.text#}}",
                "backend": "flux",
                "size": "1024x1024",
                "num_images": 1
              }
            type: json
          desc: Generate AI background image
          headers: "Content-Type: application/json"
          method: post
          selected: false
          timeout:
            connect: 10
            read: 120
            write: 10
          title: Generate Image
          type: http-request
          url: https://creo.yourads.io/tools/generate-image
        height: 98
        id: "4"
        position:
          x: 980
          y: 282
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: ""
            type: none
          desc: Compose final ad creatives
          headers: "Content-Type: application/json"
          method: post
          params:
            - key: image_url
              value: "{{#4.body.images[0].url#}}"
            - key: variations_json
              value: "{{#3.text#}}"
            - key: output_size
              value: "instagram_square"
            - key: format_type
              value: "{{#1.format_type#}}"
            - key: cta_style
              value: "{{#1.cta_style#}}"
            - key: right_bg_color
              value: "{{#1.right_bg_color#}}"
            - key: safe_zone
              value: "auto"
          selected: false
          timeout:
            connect: 10
            read: 120
            write: 10
          title: Batch Compose
          type: http-request
          url: https://creo.yourads.io/tools/compose-batch
        height: 98
        id: "5"
        position:
          x: 1280
          y: 282
        type: custom
        width: 244

      - data:
          outputs:
            - value_selector:
                - "5"
                - body
              variable: result
          selected: false
          title: End
          type: end
        height: 90
        id: "6"
        position:
          x: 1580
          y: 282
        type: custom
        width: 244
