dify/ad_creative_agent.yml
app:
  description: Auto-generates ad creatives using your self-hosted API with 4 visual formats
  icon: 🎨
  icon_background: '#FFEAD5'
  mode: workflow
  name: Ad Creative Agent

workflow:
  graph:
    edges:
    - source: start
      target: analyze_brief
    - source: analyze_brief
      target: generate_copy
    - source: generate_copy
      target: generate_image
    - source: generate_image
      target: batch_compose
    - source: batch_compose
      target: end_node

    nodes:
    - data:
        title: Start
        type: start
        variables:
        - label: Ad Request
          max_length: 1000
          options: []
          required: true
          type: paragraph
          variable: query
        - label: Visual Format
          type: select
          variable: format_type
          default: meme
          options:
            - value: meme
              label: Meme Style (text over image)
            - value: text_only
              label: Text Only (white background)
            - value: stickers
              label: Text + Stickers
            - value: split
              label: Split Screen (photo left, text right)
        - label: CTA Style
          type: select
          variable: cta_style
          default: text
          options:
            - value: text
              label: Text
            - value: button
              label: Button (rounded rectangle)
        - label: Right Side Color (for split format)
          type: text-input
          variable: right_bg_color
          default: white
          required: false
      id: start
      position:
        x: 80
        y: 282
      type: start

    - data:
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: |
            You are an expert Creative Director. Analyze the user's request.

            User selected format: {{#start.format_type#}}
            User selected CTA style: {{#start.cta_style#}}

            Extract:
            1. Product Name
            2. Target Audience
            3. Visual Style (Cyberpunk, Minimalist, etc.)
            4. Platform (Instagram, LinkedIn, etc.)
            5. Number of variations requested (default to 3)

            For platform, use one of: instagram_square, instagram_story, instagram_reels, tiktok, facebook_feed, twitter, youtube_shorts

            Output ONLY valid JSON:
            {
              "platform": "instagram_square",
              "num_variations": 3,
              "text_color": "white",
              "prompt": "Detailed image generation prompt...",
              "negative_prompt": "text, bad quality, blurry",
              "safe_zone": "auto"
            }

            Note: For text_only or stickers format, the prompt is still useful for sticker selection theme.
        - role: user
          text: '{{#start.query#}}'
        title: Analyze Brief
      id: analyze_brief
      position:
        x: 380
        y: 282
      type: llm

    - data:
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: |
            Generate ad copy variations based on this brief.

            Brief: {{#analyze_brief.text#}}

            Output ONLY valid JSON array of objects:
            [
              {"hook": "Hook 1", "body": "Body 1", "cta": "CTA 1"},
              {"hook": "Hook 2", "body": "Body 2", "cta": "CTA 2"}
            ]
        title: Generate Copy
      id: generate_copy
      position:
        x: 680
        y: 282
      type: llm

    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: |
            {
              "prompt": "{{#analyze_brief.json.prompt#}}",
              "backend": "flux",
              "size": "1024x1024",
              "num_images": 1
            }
          type: json
        headers:
          Content-Type: application/json
        method: post
        timeout:
          connect: 10
          read: 120
          write: 10
        title: Generate Image
        url: https://creo.yourads.io/tools/generate-image
        variables: []
      id: generate_image
      position:
        x: 980
        y: 282
      type: http-request

    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        headers:
          Content-Type: application/json
        method: post
        params:
        - key: image_url
          value: '{{#generate_image.body.images[0].url#}}'
        - key: variations_json
          value: '{{#generate_copy.text#}}'
        - key: output_size
          value: '{{#analyze_brief.json.platform#}}'
        - key: text_color
          value: '{{#analyze_brief.json.text_color#}}'
        - key: format_type
          value: '{{#start.format_type#}}'
        - key: cta_style
          value: '{{#start.cta_style#}}'
        - key: right_bg_color
          value: '{{#start.right_bg_color#}}'
        - key: safe_zone
          value: '{{#analyze_brief.json.safe_zone#}}'
        timeout:
          connect: 10
          read: 120
          write: 10
        title: Batch Compose
        url: https://creo.yourads.io/tools/compose-batch
        variables: []
      id: batch_compose
      position:
        x: 1280
        y: 282
      type: http-request

    - data:
        outputs:
        - value_selector:
          - batch_compose
          - body
          variable: result
        title: End
      id: end_node
      position:
        x: 1580
        y: 282
      type: end
