dify/ad_creative_v5_content.yml
app:
  description: Generates ad creatives from content - Paste website copy, emails, or product descriptions
  icon: "\U0001F4DD"
  icon_background: "#E3F2FD"
  mode: advanced-chat
  name: Ad Creative Agent v5 (Content Extraction)
  use_icon_as_answer_icon: false

kind: app
version: 0.1.3

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
      image:
        enabled: false
    opening_statement: "Paste text OR enter a URL in 'Content Source' - I'll guide you through automatic content extraction and generate ads! For URLs, I'll provide a Jina Reader link to fetch clean content. Or use manual fields if you prefer."
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: llm
        id: e1
        source: "1"
        sourceHandle: source
        target: "2"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: code
        id: e2
        source: "2"
        sourceHandle: source
        target: "3"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: code
          targetType: llm
        id: e3
        source: "3"
        sourceHandle: source
        target: "4"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: http-request
        id: e4
        source: "4"
        sourceHandle: source
        target: "5"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: http-request
          targetType: code
        id: e5
        source: "5"
        sourceHandle: source
        target: "6"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: code
          targetType: http-request
        id: e6
        source: "6"
        sourceHandle: source
        target: "7"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: http-request
          targetType: code
        id: e7
        source: "7"
        sourceHandle: source
        target: "8"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: code
          targetType: answer
        id: e8
        source: "8"
        sourceHandle: source
        target: "9"
        targetHandle: target
        type: custom
    nodes:
      - data:
          desc: "Content extraction - paste any text or use manual inputs"
          selected: false
          title: Start
          type: start
          variables:
            - label: "Content Source (paste text OR enter URL - automatic content extraction)"
              max_length: 100000
              required: false
              type: paragraph
              variable: content_source
            - label: "Product/Service (optional - auto-extracted from content if provided)"
              max_length: 500
              required: false
              type: text-input
              variable: product
            - label: "Target Audience (optional - auto-extracted from content if provided)"
              max_length: 200
              required: false
              type: text-input
              variable: audience
            - label: "Ad Style (optional)"
              required: false
              type: select
              variable: style
              options:
                - "Humorous"
                - "Professional"
                - "Urgent"
                - "Educational"
            - label: "Custom Hook Text (optional - overrides AI)"
              max_length: 100
              required: false
              type: text-input
              variable: custom_hook
            - label: "Font Size Scale (1.0 = default, 1.5 = 50% larger)"
              required: false
              type: number
              variable: font_scale
            - label: "Background"
              required: false
              type: select
              variable: background
              options:
                - "AI Generated"
                - "White"
            - label: "Image Generator (if AI background)"
              required: false
              type: select
              variable: backend
              options:
                - "flux"
                - "sdxl"
        height: 54
        id: "1"
        position:
          x: 30
          y: 300
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Generate ad copy variations
          memory:
            query_prompt_template: "{{#1.product#}}"
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.8
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
          prompt_template:
            - id: sys
              role: system
              text: |
                You are an expert ad copywriter for "ugly ads" / meme-style ads.

                TASK 0: URL Handling
                If the content source starts with "http://" or "https://":
                1. Inform the user: "I detected a URL. To extract content automatically, please:"
                2. Provide the Jina Reader link: "Visit: https://r.jina.ai/[the URL]"
                3. Instruct: "Copy the extracted content and paste it here instead of the URL"
                4. STOP - Do not proceed with ad generation until actual content is provided

                TASK 1: If source content (text, not URL) is provided, first extract:
                - Product/service name and what it does
                - Target audience/customer type
                - Key benefits and value proposition
                - Pain points it solves

                TASK 2: Generate 3 ad copy variations with:
                - hook: Provocative opening (SHORT, 5-10 words max, must fit on image)
                - body: Value proposition (2-3 sentences with clear benefits and reasons to take action)
                - cta: Call to action (2-4 words)

                Use extracted info from content, or fall back to manual inputs if no content provided.

                Output JSON only:
                {"variations": [{"hook": "...", "body": "...", "cta": "..."}], "best": {"hook": "...", "body": "...", "cta": "..."}}
            - id: usr
              role: user
              text: |
                === SOURCE CONTENT (if provided) ===
                {{#1.content_source#}}

                === MANUAL INPUTS (use if no content above) ===
                Product: {{#1.product#}}
                Target Audience: {{#1.audience#}}
                Desired Style: {{#1.style#}}

                === ADDITIONAL INSTRUCTIONS ===
                {{#sys.query#}}
          selected: false
          title: Generate Copy
          type: llm
          variables:
            - value_selector:
                - "1"
                - content_source
              variable: content_source
            - value_selector:
                - "1"
                - product
              variable: product
            - value_selector:
                - "1"
                - audience
              variable: audience
            - value_selector:
                - "1"
                - style
              variable: style
            - value_selector:
                - sys
                - query
              variable: query
          vision:
            enabled: false
        height: 98
        id: "2"
        position:
          x: 334
          y: 300
        type: custom
        width: 244

      - data:
          code: |
            import json
            import re

            def main(copy_json: str, custom_hook: str = "") -> dict:
                try:
                    # Strip markdown code blocks if present
                    clean_json = copy_json.strip()
                    if clean_json.startswith("```"):
                        # Remove ```json or ``` at start and ``` at end
                        clean_json = re.sub(r'^```(?:json)?\s*\n', '', clean_json)
                        clean_json = re.sub(r'\n```\s*$', '', clean_json)

                    data = json.loads(clean_json)
                    best = data.get("best", data.get("variations", [{}])[0])

                    # Use custom hook if provided, otherwise use AI-generated
                    final_hook = custom_hook.strip() if custom_hook and custom_hook.strip() else best.get("hook", "")

                    return {
                        "hook": final_hook,
                        "body": best.get("body", ""),
                        "cta": best.get("cta", ""),
                        "all_copy": copy_json,
                        "using_custom_hook": bool(custom_hook and custom_hook.strip())
                    }
                except Exception as e:
                    fallback_hook = custom_hook.strip() if custom_hook and custom_hook.strip() else "Check this out!"
                    return {
                        "hook": fallback_hook,
                        "body": "",
                        "cta": "Learn more",
                        "all_copy": copy_json,
                        "using_custom_hook": bool(custom_hook and custom_hook.strip()),
                        "error": str(e)
                    }
          code_language: python3
          desc: Extract best copy and apply custom hook if provided
          outputs:
            hook:
              type: string
            body:
              type: string
            cta:
              type: string
            all_copy:
              type: string
            using_custom_hook:
              type: boolean
          selected: false
          title: Parse Copy
          type: code
          variables:
            - value_selector:
                - "2"
                - text
              variable: copy_json
            - value_selector:
                - "1"
                - custom_hook
              variable: custom_hook
        height: 98
        id: "3"
        position:
          x: 638
          y: 300
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Build image prompt
          memory:
            query_prompt_template: "{{#1.product#}}"
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.7
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
          prompt_template:
            - id: sys2
              role: system
              text: |
                Create Flux AI image prompts for meme-style ad backgrounds.

                Rules:
                1. Feature a PERSON with expressive reaction (shocked, excited, pointing, celebrating, confused, amazed)
                2. Simple clean solid color background
                3. Bright eye-catching lighting
                4. Photo-realistic style
                5. Under 50 words
                6. DO NOT include any instructions about text in the prompt itself

                Output ONLY the image description, nothing else.
            - id: usr2
              role: user
              text: "Create image for ad with hook: {{#3.hook#}}"
          selected: false
          title: Build Prompt
          type: llm
          variables:
            - value_selector:
                - "3"
                - hook
              variable: hook
          vision:
            enabled: false
        height: 98
        id: "4"
        position:
          x: 942
          y: 300
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: '{"prompt": "{{#4.text#}}, no text, no words, no letters, no writing, no captions", "backend": "{{#1.backend#}}", "size": "1024x1024", "negative_prompt": "text, words, letters, writing, captions, watermark, logo, signature"}'
            type: json
          desc: Generate base image
          headers: "Content-Type:application/json"
          method: post
          params: ""
          timeout:
            connect: 60
            max_connect_timeout: 60
            max_read_timeout: 180
            max_write_timeout: 180
            read: 180
            write: 180
          title: Generate Image
          type: http-request
          url: https://creo.yourads.io/tools/generate-image
          variables: []
        height: 98
        id: "5"
        position:
          x: 1246
          y: 300
        type: custom
        width: 244

      - data:
          code: |
            import json

            def main(body: str, background: str = "") -> dict:
                # If white background selected, skip generated image
                if background and background.lower() == "white":
                    return {"image_url": "white"}

                try:
                    data = json.loads(body)
                    if data.get("success") and data.get("images"):
                        url = data["images"][0]["url"]
                        # Fix internal IP to external URL
                        url = url.replace("http://185.241.151.190:8000", "https://creo.yourads.io")
                        return {"image_url": url}
                    return {"image_url": ""}
                except:
                    return {"image_url": ""}
          code_language: python3
          desc: Extract image URL or use white background
          outputs:
            image_url:
              type: string
          selected: false
          title: Parse Image
          type: code
          variables:
            - value_selector:
                - "5"
                - body
              variable: body
            - value_selector:
                - "1"
                - background
              variable: background
        height: 98
        id: "6"
        position:
          x: 1550
          y: 300
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: ""
            type: none
          desc: Add text overlay to image
          headers: ""
          method: post
          params: "image_url:{{#6.image_url#}}\nhook_text:{{#3.hook#}}\nbody_text:{{#3.body#}}\ncta_text:{{#3.cta#}}\noutput_size:instagram_square\nhook_font_size:120\nbody_font_size:42\ncta_font_size:48"
          timeout:
            connect: 60
            max_connect_timeout: 60
            max_read_timeout: 120
            max_write_timeout: 120
            read: 120
            write: 120
          title: Compose Ad
          type: http-request
          url: https://creo.yourads.io/tools/compose-ad
          variables: []
        height: 98
        id: "7"
        position:
          x: 1854
          y: 300
        type: custom
        width: 244

      - data:
          code: |
            import json

            def main(body: str, raw_image: str, hook: str, all_copy: str) -> dict:
                try:
                    data = json.loads(body)
                    if data.get("success"):
                        return {
                            "final_url": data["url"],
                            "raw_url": raw_image,
                            "hook": hook,
                            "all_copy": all_copy
                        }
                    return {"final_url": raw_image, "raw_url": raw_image, "hook": hook, "all_copy": all_copy}
                except:
                    return {"final_url": raw_image, "raw_url": raw_image, "hook": hook, "all_copy": all_copy}
          code_language: python3
          desc: Extract final URL
          outputs:
            final_url:
              type: string
            raw_url:
              type: string
            hook:
              type: string
            all_copy:
              type: string
          selected: false
          title: Parse Final
          type: code
          variables:
            - value_selector:
                - "7"
                - body
              variable: body
            - value_selector:
                - "6"
                - image_url
              variable: raw_image
            - value_selector:
                - "3"
                - hook
              variable: hook
            - value_selector:
                - "3"
                - all_copy
              variable: all_copy
        height: 98
        id: "8"
        position:
          x: 2158
          y: 300
        type: custom
        width: 244

      - data:
          answer: "## Your Complete Ad Creative\n\n**Final Ad (with text):**\n{{#8.final_url#}}\n\n**Raw Image (no text):**\n{{#8.raw_url#}}\n\n---\n\n## All Copy Variations\n{{#8.all_copy#}}"
          desc: ""
          selected: false
          title: Answer
          type: answer
          variables: []
        height: 107
        id: "9"
        position:
          x: 2462
          y: 300
        type: custom
        width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.5
