dify/ad_copy_interactive.yml
app:
  description: Interactive copy generator with quiz-style questions and chat refinement
  icon: "\U0001F4AC"
  icon_background: "#FFF3E0"
  mode: advanced-chat
  name: Ad Copy Generator (Interactive)
  use_icon_as_answer_icon: false

kind: app
version: 0.1.3

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
      image:
        enabled: false
    opening_statement: "Hey! I'll help you create ad copy. Just paste your content and I'll ask a few quick questions to nail the perfect tone. Quick start: Paste your website copy, product description, or landing page text below."
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: llm
        id: e1
        source: "1"
        sourceHandle: source
        target: "2"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: answer
        id: e2
        source: "2"
        sourceHandle: source
        target: "3"
        targetHandle: target
        type: custom
    nodes:
      - data:
          desc: "Minimal start - just content input"
          selected: false
          title: Start
          type: start
          variables:
            - label: "Paste your content (website copy, product description, etc.)"
              max_length: 100000
              required: false
              type: paragraph
              variable: content_source
        height: 54
        id: "1"
        position:
          x: 30
          y: 300
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Interactive copy generator with quiz and refinement
          memory:
            query_prompt_template: ""
            window:
              enabled: true
              size: 20
          model:
            completion_params:
              temperature: 0.8
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
          prompt_template:
            - id: sys
              role: system
              text: |
                You create ad copy. Generate 3 variations immediately when user asks. No questions first.

                FORMAT:
                1.
                Hook: [5-8 words]
                Body: [2 sentences max]
                CTA: [2-3 words]

                BANNED WORDS (using these = failure):
                - масштабируйте, масштабирование
                - конверсии, конверсия
                - эффективность, эффективный
                - оптимизация, результат
                - рост, растут, вырастет
                - больше лидов/продаж
                - автоматизация (say what specifically: "нейросеть пишет письма")
                - современные инструменты (name them: Clay, GPT)
                - система, схема, подход, процесс

                BANNED STRUCTURES:
                - "X без Y"
                - promises: "станет", "будет", "вырастет"
                - "как X делает Y"

                GOOD (copy these):
                - "Clay находит email, которого нет в Apollo. 7 минут."
                - "Один человек. Таблица. 1000 компаний в день."
                - "Написал гайд. Без воды, без продажи в конце."
                - "ЛПР, которые не сидят в LinkedIn. Вот как их найти."

                BAD (never write like this):
                - "Масштабируйте продажи" ← banned word
                - "Конверсии растут" ← banned word + vague
                - "Лидов станет больше" ← banned structure (promise)
                - "Современные инструменты" ← generic

                VOICE: Telegram to a friend. Facts only. Zero marketing.
            - id: usr
              role: user
              text: |
                {{#1.content_source#}}

                {{#sys.query#}}
          selected: false
          title: Copy Generator
          type: llm
          variables:
            - value_selector:
                - "1"
                - content_source
              variable: content_source
            - value_selector:
                - sys
                - query
              variable: query
          vision:
            enabled: false
        height: 98
        id: "2"
        position:
          x: 334
          y: 300
        type: custom
        width: 244

      - data:
          answer: "{{#2.text#}}"
          desc: ""
          selected: false
          title: Answer
          type: answer
          variables: []
        height: 107
        id: "3"
        position:
          x: 638
          y: 300
        type: custom
        width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
