dify/ad_creative_unified.yml
app:
  description: Complete ad creative pipeline - interactive copy generation with refinement, then image generation
  icon: "\U0001F3A8"
  icon_background: "#E8F5E9"
  mode: advanced-chat
  name: Ad Creative Studio (Unified)
  use_icon_as_answer_icon: false

kind: app
version: 0.1.3

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
      image:
        enabled: false
    opening_statement: "Welcome! Paste your content and I'll help you create ad copy. Once you approve the copy, I'll generate the image automatically."
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: llm
        id: e1
        source: "1"
        sourceHandle: source
        target: "2"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: code
        id: e2
        source: "2"
        sourceHandle: source
        target: "3"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: code
          targetType: if-else
        id: e3
        source: "3"
        sourceHandle: source
        target: "4"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: if-else
          targetType: answer
        id: e4a
        source: "4"
        sourceHandle: "false"
        target: "9"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: if-else
          targetType: llm
        id: e4b
        source: "4"
        sourceHandle: "true"
        target: "5"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: http-request
        id: e5
        source: "5"
        sourceHandle: source
        target: "6"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: http-request
          targetType: code
        id: e6
        source: "6"
        sourceHandle: source
        target: "7"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: code
          targetType: http-request
        id: e7
        source: "7"
        sourceHandle: source
        target: "8"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: http-request
          targetType: code
        id: e8
        source: "8"
        sourceHandle: source
        target: "10"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: code
          targetType: answer
        id: e9
        source: "10"
        sourceHandle: source
        target: "11"
        targetHandle: target
        type: custom
    nodes:
      - data:
          desc: "Content and image settings"
          selected: false
          title: Start
          type: start
          variables:
            - label: "Paste your content (website copy, product description, etc.)"
              max_length: 100000
              required: false
              type: paragraph
              variable: content_source
            - label: "Background"
              required: false
              type: select
              variable: background
              options:
                - "AI Generated"
                - "White"
            - label: "Text Color"
              required: false
              type: select
              variable: text_color
              options:
                - "White (for dark backgrounds)"
                - "Black (for light backgrounds)"
            - label: "Image Generator"
              required: false
              type: select
              variable: backend
              options:
                - "flux"
                - "sdxl"
            - label: "Font Style"
              required: false
              type: select
              variable: font_style
              options:
                - "Bold (default)"
                - "Clean"
                - "Modern"
        height: 54
        id: "1"
        position:
          x: 30
          y: 300
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Interactive copy generator with approval detection
          memory:
            query_prompt_template: ""
            window:
              enabled: true
              size: 20
          model:
            completion_params:
              temperature: 0.8
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
          prompt_template:
            - id: sys
              role: system
              text: |
                You create ad copy, then trigger image generation when approved.

                WORKFLOW:
                1. User asks → generate 3 variations immediately (NO questions)
                2. User gives feedback → iterate
                3. User approves → output APPROVED_COPY block

                WHEN APPROVED (user says "use 1", "да", "го", "perfect", etc.):
                Output EXACTLY:
                ---
                APPROVED_COPY_START
                hook: [text]
                body: [text]
                cta: [text]
                APPROVED_COPY_END
                ---
                Then say "Generating image..."

                FORMAT:
                1.
                Hook: [8-12 words, complete thought]
                Body: [2-3 natural sentences, ~40 words total]
                CTA: [2-3 words]

                STYLE:
                - Sound like a smart person explaining something interesting
                - Complete sentences, natural flow (NOT choppy telegram-style)
                - Specific details from the content
                - No marketing buzzwords, but also not robotic

                BANNED WORDS/PHRASES:
                - масштабируйте, конверсии, эффективность, оптимизация
                - результат, рост, растут, вырастет
                - автоматизация, современные инструменты, система, схема
                - без воды, пошаговый, секреты, фишки, лайфхаки
                - "как я/мы делаем X" (overused structure)

                VOICE: Like you're telling a friend about something interesting you made. Casual. Real. Not "copywriting."

                GOOD EXAMPLES (sound like real speech):
                Hook: "Я 12 лет в B2B-продажах. Написал гайд про то, что реально работает сейчас."
                Body: "Clay и нейросети находят людей, которых нет в обычных базах. Показываю на примерах, как это устроено."
                CTA: "Почитать"

                Hook: "Холодные письма, на которые отвечают. Серьёзно."
                Body: "Дело не в количестве, а в том, кому писать и что. В гайде — конкретные примеры из моих проектов в США и Европе."
                CTA: "Открыть гайд"

                BAD (copywriter voice):
                - "Без воды, только практика" ← cliché
                - "Как я нахожу ЛПР" ← overused structure
                - "Масштабируйте продажи" ← marketing speak
                - "Гайд. Холодные продажи." ← robotic
            - id: usr
              role: user
              text: |
                {{#1.content_source#}}

                {{#sys.query#}}
          selected: false
          title: Copy Generator
          type: llm
          variables:
            - value_selector:
                - "1"
                - content_source
              variable: content_source
            - value_selector:
                - sys
                - query
              variable: query
          vision:
            enabled: false
        height: 98
        id: "2"
        position:
          x: 334
          y: 300
        type: custom
        width: 244

      - data:
          code: |
            import re

            def main(llm_output: str) -> dict:
                # Check if copy was approved
                if "APPROVED_COPY_START" in llm_output and "APPROVED_COPY_END" in llm_output:
                    # Extract the approved copy
                    pattern = r"APPROVED_COPY_START\s*\n(.*?)\nAPPROVED_COPY_END"
                    match = re.search(pattern, llm_output, re.DOTALL)

                    if match:
                        content = match.group(1)

                        # Parse hook, body, cta
                        hook_match = re.search(r"hook:\s*(.+?)(?:\n|$)", content, re.IGNORECASE)
                        body_match = re.search(r"body:\s*(.+?)(?:\n|$)", content, re.IGNORECASE)
                        cta_match = re.search(r"cta:\s*(.+?)(?:\n|$)", content, re.IGNORECASE)

                        hook = hook_match.group(1).strip() if hook_match else ""
                        body = body_match.group(1).strip() if body_match else ""
                        cta = cta_match.group(1).strip() if cta_match else ""

                        # Clean the display text (remove the markers)
                        display_text = re.sub(r"---\s*\nAPPROVED_COPY_START.*?APPROVED_COPY_END\s*\n---", "", llm_output, flags=re.DOTALL).strip()

                        return {
                            "is_approved": True,
                            "hook": hook,
                            "body": body,
                            "cta": cta,
                            "display_text": display_text if display_text else "Generating your ad image..."
                        }

                # Not approved yet, just continue conversation
                return {
                    "is_approved": False,
                    "hook": "",
                    "body": "",
                    "cta": "",
                    "display_text": llm_output
                }
          code_language: python3
          desc: Detect if copy was approved and extract it
          outputs:
            is_approved:
              type: boolean
            hook:
              type: string
            body:
              type: string
            cta:
              type: string
            display_text:
              type: string
          selected: false
          title: Parse Approval
          type: code
          variables:
            - value_selector:
                - "2"
                - text
              variable: llm_output
        height: 98
        id: "3"
        position:
          x: 638
          y: 300
        type: custom
        width: 244

      - data:
          conditions:
            - comparison_operator: is
              id: cond1
              value: "true"
              variable_selector:
                - "3"
                - is_approved
          desc: Check if copy approved
          logical_operator: and
          selected: false
          title: Is Approved?
          type: if-else
        height: 98
        id: "4"
        position:
          x: 942
          y: 300
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Build image prompt from approved hook
          memory:
            query_prompt_template: ""
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.7
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
          prompt_template:
            - id: sys2
              role: system
              text: |
                Create Flux AI image prompts for ad backgrounds.

                Rules:
                1. Feature a PERSON with expressive reaction (shocked, excited, pointing, celebrating)
                2. Simple clean solid color background
                3. Bright eye-catching lighting
                4. Photo-realistic style
                5. Under 50 words
                6. NO text instructions in the prompt

                Output ONLY the image description.
            - id: usr2
              role: user
              text: "Create image for ad with hook: {{#3.hook#}}"
          selected: false
          title: Build Image Prompt
          type: llm
          variables:
            - value_selector:
                - "3"
                - hook
              variable: hook
          vision:
            enabled: false
        height: 98
        id: "5"
        position:
          x: 1246
          y: 200
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: '{"prompt": "{{#5.text#}}, no text, no words, no letters", "backend": "{{#1.backend#}}", "size": "1024x1024", "negative_prompt": "text, words, letters, writing, watermark"}'
            type: json
          desc: Generate base image
          headers: "Content-Type:application/json"
          method: post
          params: ""
          timeout:
            connect: 60
            max_connect_timeout: 60
            max_read_timeout: 180
            max_write_timeout: 180
            read: 180
            write: 180
          title: Generate Image
          type: http-request
          url: https://creo.yourads.io/tools/generate-image
          variables: []
        height: 98
        id: "6"
        position:
          x: 1550
          y: 200
        type: custom
        width: 244

      - data:
          code: |
            import json

            def main(body: str, background: str = "") -> dict:
                if background and background.lower() == "white":
                    return {"image_url": "white"}
                try:
                    data = json.loads(body)
                    if data.get("success") and data.get("images"):
                        url = data["images"][0]["url"]
                        url = url.replace("http://185.241.151.190:8000", "https://creo.yourads.io")
                        return {"image_url": url}
                    return {"image_url": ""}
                except:
                    return {"image_url": ""}
          code_language: python3
          desc: Extract image URL
          outputs:
            image_url:
              type: string
          selected: false
          title: Parse Image
          type: code
          variables:
            - value_selector:
                - "6"
                - body
              variable: body
            - value_selector:
                - "1"
                - background
              variable: background
        height: 98
        id: "7"
        position:
          x: 1854
          y: 200
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: ""
            type: none
          desc: Add text overlay
          headers: ""
          method: post
          params: "image_url:{{#7.image_url#}}\nhook_text:{{#3.hook#}}\nbody_text:{{#3.body#}}\ncta_text:{{#3.cta#}}\noutput_size:instagram_square\ntext_color:{{#1.text_color#}}\nfont_style:{{#1.font_style#}}\nbold_hook:Yes"
          timeout:
            connect: 60
            max_connect_timeout: 60
            max_read_timeout: 120
            max_write_timeout: 120
            read: 120
            write: 120
          title: Compose Ad
          type: http-request
          url: https://creo.yourads.io/tools/compose-ad
          variables: []
        height: 98
        id: "8"
        position:
          x: 2158
          y: 200
        type: custom
        width: 244

      - data:
          answer: "{{#3.display_text#}}"
          desc: "Show copy conversation (no image yet)"
          selected: false
          title: Copy Response
          type: answer
          variables: []
        height: 107
        id: "9"
        position:
          x: 1246
          y: 400
        type: custom
        width: 244

      - data:
          code: |
            import json

            def main(body: str, raw_image: str, hook: str, body_text: str, cta: str) -> dict:
                try:
                    data = json.loads(body)
                    if data.get("success"):
                        return {
                            "final_url": data["url"],
                            "raw_url": raw_image,
                            "hook": hook,
                            "body": body_text,
                            "cta": cta
                        }
                    return {"final_url": raw_image, "raw_url": raw_image, "hook": hook, "body": body_text, "cta": cta}
                except:
                    return {"final_url": raw_image, "raw_url": raw_image, "hook": hook, "body": body_text, "cta": cta}
          code_language: python3
          desc: Extract final URL
          outputs:
            final_url:
              type: string
            raw_url:
              type: string
            hook:
              type: string
            body:
              type: string
            cta:
              type: string
          selected: false
          title: Parse Final
          type: code
          variables:
            - value_selector:
                - "8"
                - body
              variable: body
            - value_selector:
                - "7"
                - image_url
              variable: raw_image
            - value_selector:
                - "3"
                - hook
              variable: hook
            - value_selector:
                - "3"
                - body
              variable: body_text
            - value_selector:
                - "3"
                - cta
              variable: cta
        height: 98
        id: "10"
        position:
          x: 2462
          y: 200
        type: custom
        width: 244

      - data:
          answer: "## Your Ad is Ready!\n\n**Final Ad:**\n{{#10.final_url#}}\n\n**Raw Image (no text):**\n{{#10.raw_url#}}\n\n---\n**Approved Copy:**\n- Hook: {{#10.hook#}}\n- Body: {{#10.body#}}\n- CTA: {{#10.cta#}}\n\n---\nWant to generate another variation? Just tell me what to change!"
          desc: "Show final ad with image"
          selected: false
          title: Final Answer
          type: answer
          variables: []
        height: 107
        id: "11"
        position:
          x: 2766
          y: 200
        type: custom
        width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.4
