dify/archive/ad_copy_interactive.yml
app:
  description: Interactive copy generator with quiz-style questions and chat refinement
  icon: "\U0001F4AC"
  icon_background: "#FFF3E0"
  mode: advanced-chat
  name: Ad Copy Generator (Interactive)
  use_icon_as_answer_icon: false

kind: app
version: 0.1.3

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
      image:
        enabled: false
    opening_statement: "Hey! I'll help you create ad copy. Just paste your content and I'll ask a few quick questions to nail the perfect tone. Quick start: Paste your website copy, product description, or landing page text below."
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: llm
        id: e1
        source: "1"
        sourceHandle: source
        target: "2"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: answer
        id: e2
        source: "2"
        sourceHandle: source
        target: "3"
        targetHandle: target
        type: custom
    nodes:
      - data:
          desc: "Minimal start - just content input"
          selected: false
          title: Start
          type: start
          variables:
            - label: "Paste your content (website copy, product description, etc.)"
              max_length: 100000
              required: false
              type: paragraph
              variable: content_source
        height: 54
        id: "1"
        position:
          x: 30
          y: 300
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Interactive copy generator with quiz and refinement
          memory:
            query_prompt_template: ""
            window:
              enabled: true
              size: 20
          model:
            completion_params:
              temperature: 0.85
            mode: chat
            name: gemini-2.5-flash
            provider: google
          prompt_template:
            - id: sys
              role: system
              text: |
                You create ad copy in Russian for social media.

                ALWAYS generate 3 variations. Each must use a DIFFERENT angle.

                FORMAT:
                **Вариант N**
                Hook: [Statement, NOT a question. One punchy sentence.]
                Body: [2-3 sentences with specifics: numbers, timeframes, proof]
                CTA: [2-3 words]

                WHAT CONVERTS (2025 research data):
                ✓ Specific numbers: "47 clients in 3 months" > "many clients"
                ✓ Credibility hooks: "After 12 years doing X..." / "I spent $50K testing..."
                ✓ Pattern interrupt: unexpected opening that stops scroll
                ✓ Mechanism: explain WHY/HOW it works, not just that it does
                ✓ Before/after contrast: show transformation

                HOOK TYPES TO USE (rotate through these):
                1. Credibility: "Я потратил 3 года на X. Вот что работает."
                2. Contrarian: "90% делают X. Это не работает."
                3. Specific result: "47 сделок за 3 месяца с холодных писем."
                4. Discovery: "Clay находит людей, которых нет в базах."
                5. Stakes: "Каждый день без этого = упущенная выручка."

                CRITICAL — NEVER USE:
                ✗ Question hooks: "Тратите...?" "Хотите...?" "Надоело...?" — BANNED
                ✗ Buzzwords: эффективность, масштабирование, оптимизация, результат
                ✗ Clichés: без воды, пошаговый, секреты, фишки, лайфхаки
                ✗ Vague claims without proof

                VOICE: Experienced person sharing hard-won knowledge. Not selling, just sharing.
            - id: usr
              role: user
              text: |
                {{#1.content_source#}}

                {{#sys.query#}}
          selected: false
          title: Copy Generator
          type: llm
          variables:
            - value_selector:
                - "1"
                - content_source
              variable: content_source
            - value_selector:
                - sys
                - query
              variable: query
          vision:
            enabled: false
        height: 98
        id: "2"
        position:
          x: 334
          y: 300
        type: custom
        width: 244

      - data:
          answer: "{{#2.text#}}"
          desc: ""
          selected: false
          title: Answer
          type: answer
          variables: []
        height: 107
        id: "3"
        position:
          x: 638
          y: 300
        type: custom
        width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.7
