dify/archive/ad_creative_workflow_full.yml
app:
  description: Generates ad creatives from content - Paste website copy, emails, or product descriptions
  icon: "\U0001F4DD"
  icon_background: "#E3F2FD"
  mode: advanced-chat
  name: Ad Creative Agent v5 (Content Extraction)
  use_icon_as_answer_icon: false

kind: app
version: 0.1.3

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
      image:
        enabled: false
    opening_statement: "Paste text OR enter a URL in 'Content Source' - I'll guide you through automatic content extraction and generate ads! For URLs, I'll provide a Jina Reader link to fetch clean content. Or use manual fields if you prefer."
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: llm
        id: e1
        source: "1"
        sourceHandle: source
        target: "2"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: code
        id: e2
        source: "2"
        sourceHandle: source
        target: "3"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: code
          targetType: llm
        id: e3
        source: "3"
        sourceHandle: source
        target: "4"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: http-request
        id: e4
        source: "4"
        sourceHandle: source
        target: "5"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: http-request
          targetType: code
        id: e5
        source: "5"
        sourceHandle: source
        target: "6"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: code
          targetType: http-request
        id: e6
        source: "6"
        sourceHandle: source
        target: "7"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: http-request
          targetType: code
        id: e7
        source: "7"
        sourceHandle: source
        target: "8"
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: code
          targetType: answer
        id: e8
        source: "8"
        sourceHandle: source
        target: "9"
        targetHandle: target
        type: custom
    nodes:
      - data:
          desc: "Content extraction - paste any text or use manual inputs"
          selected: false
          title: Start
          type: start
          variables:
            - label: "Content Source (paste text OR enter URL - automatic content extraction)"
              max_length: 100000
              required: false
              type: paragraph
              variable: content_source
            - label: "Product/Service (optional - auto-extracted from content if provided)"
              max_length: 500
              required: false
              type: text-input
              variable: product
            - label: "Target Audience (optional - auto-extracted from content if provided)"
              max_length: 200
              required: false
              type: text-input
              variable: audience
            - label: "Tone of Voice"
              required: false
              type: select
              variable: tone
              options:
                - "Clean & Minimalist"
                - "Direct & Confident"
                - "Casual & Friendly"
                - "Professional & Trustworthy"
                - "Bold & Provocative"
                - "Playful & Humorous"
                - "Meme-style / Ugly Ad"
            - label: "Things to AVOID in copy (e.g., 'discount', 'cheap', certain phrases)"
              max_length: 500
              required: false
              type: text-input
              variable: avoid
            - label: "Custom Hook Text (optional - overrides AI)"
              max_length: 100
              required: false
              type: text-input
              variable: custom_hook
            - label: "Font Size Scale (1.0 = default, 1.5 = 50% larger)"
              required: false
              type: number
              variable: font_scale
            - label: "Background"
              required: false
              type: select
              variable: background
              options:
                - "AI Generated"
                - "White"
            - label: "Text Color"
              required: false
              type: select
              variable: text_color
              options:
                - "White (for dark backgrounds)"
                - "Black (for light backgrounds)"
            - label: "Image Generator (if AI background)"
              required: false
              type: select
              variable: backend
              options:
                - "flux"
                - "sdxl"
            - label: "Add pointing emoji to CTA 👇"
              required: false
              type: select
              variable: cta_emoji
              options:
                - "No"
                - "Yes"
            - label: "Bold hook text"
              required: false
              type: select
              variable: bold_hook
              options:
                - "Yes"
                - "No"
            - label: "Number of creatives to generate"
              required: false
              type: number
              variable: num_creatives
              default: 1
            - label: "Design Preset"
              required: false
              type: select
              variable: design_preset
              options:
                - "neon"
                - "minimal"
                - "gradient"
                - "bold"
                - "glass"
              default: "neon"
        height: 54
        id: "1"
        position:
          x: 30
          y: 300
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Generate ad copy variations
          memory:
            query_prompt_template: "{{#1.product#}}"
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.8
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
          prompt_template:
            - id: sys
              role: system
              text: |
                You are an expert ad copywriter for "ugly ads" / meme-style ads.

                TASK 0: URL Handling
                If the content source starts with "http://" or "https://":
                1. Inform the user: "I detected a URL. To extract content automatically, please:"
                2. Provide the Jina Reader link: "Visit: https://r.jina.ai/[the URL]"
                3. Instruct: "Copy the extracted content and paste it here instead of the URL"
                4. STOP - Do not proceed with ad generation until actual content is provided

                TASK 1: If source content (text, not URL) is provided, first extract:
                - Product/service name and what it does
                - Target audience/customer type
                - Key benefits and value proposition
                - Pain points it solves

                TASK 2: Generate {{num_creatives}} UNIQUE ad copy variations (default 1 if not specified).
                Each variation MUST be distinctly different - different hooks, different angles, different CTAs.

                For each variation:
                - hook: Provocative opening (SHORT, 5-10 words max, must fit on image)
                - body: Value proposition (2-3 sentences with clear benefits and reasons to take action)
                - cta: Call to action (2-4 words)

                IMPORTANT: Each variation must have a DIFFERENT approach:
                - Different emotional angles (fear, excitement, curiosity, urgency, etc.)
                - Different hooks (question, statement, statistic, bold claim, etc.)
                - Different CTAs (action-oriented, benefit-focused, urgency-based, etc.)

                Use extracted info from content, or fall back to manual inputs if no content provided.

                TONE OF VOICE: If a tone is specified, match that tone throughout all copy:
                - Casual & Friendly: conversational, approachable, like talking to a friend
                - Professional & Trustworthy: confident, credible, business-appropriate
                - Bold & Provocative: edgy, attention-grabbing, challenges status quo
                - Urgent & FOMO: creates urgency, fear of missing out, time-sensitive
                - Playful & Humorous: witty, fun, uses humor appropriately
                - Educational & Informative: teaches, explains, adds value
                - Luxurious & Premium: sophisticated, exclusive, high-end feel
                - Empathetic & Supportive: understanding, compassionate, solution-focused
                - Clean & Minimalist: Apple-like simplicity, let value speak for itself

                THINGS TO AVOID: If specified, absolutely DO NOT use these words, phrases, or concepts in any copy.

                ALWAYS AVOID (unless user wants hype-style):
                - Cliches: "unlock", "game-changer", "revolutionary", "secret"
                - Hype: "amazing", "incredible", "explosive growth"
                - Fake urgency: "hurry", "limited time", "act now"
                - Empty buzzwords without substance
                - Exclamation marks overuse
                - Infobusiness style trash

                GOOD COPY = specific, concrete, human, intelligent. Write like a smart person talking to another smart person.

                Output JSON only:
                {"variations": [{"hook": "...", "body": "...", "cta": "..."}, ...]}
            - id: usr
              role: user
              text: |
                === SOURCE CONTENT (if provided) ===
                {{#1.content_source#}}

                === MANUAL INPUTS (use if no content above) ===
                Product: {{#1.product#}}
                Target Audience: {{#1.audience#}}

                === TONE OF VOICE ===
                {{#1.tone#}}

                === THINGS TO AVOID (never use these words/phrases) ===
                {{#1.avoid#}}

                === NUMBER OF CREATIVES ===
                Generate exactly {{#1.num_creatives#}} unique variations (if empty or 0, generate 1)

                === ADDITIONAL INSTRUCTIONS ===
                {{#sys.query#}}
          selected: false
          title: Generate Copy
          type: llm
          variables:
            - value_selector:
                - "1"
                - content_source
              variable: content_source
            - value_selector:
                - "1"
                - product
              variable: product
            - value_selector:
                - "1"
                - audience
              variable: audience
            - value_selector:
                - "1"
                - tone
              variable: tone
            - value_selector:
                - "1"
                - avoid
              variable: avoid
            - value_selector:
                - sys
                - query
              variable: query
            - value_selector:
                - "1"
                - num_creatives
              variable: num_creatives
          vision:
            enabled: false
        height: 98
        id: "2"
        position:
          x: 334
          y: 300
        type: custom
        width: 244

      - data:
          code: |
            import json
            import re

            def main(copy_json: str, custom_hook: str = "", num_creatives: int = 1) -> dict:
                try:
                    # Strip markdown code blocks if present
                    clean_json = copy_json.strip()
                    if clean_json.startswith("```"):
                        clean_json = re.sub(r'^```(?:json)?\s*\n', '', clean_json)
                        clean_json = re.sub(r'\n```\s*$', '', clean_json)

                    data = json.loads(clean_json)
                    variations = data.get("variations", [])

                    # Ensure we have at least one variation
                    if not variations:
                        variations = [data.get("best", {"hook": "Check this out!", "body": "", "cta": "Learn more"})]

                    # Apply custom hook to all variations if provided
                    if custom_hook and custom_hook.strip():
                        for v in variations:
                            v["hook"] = custom_hook.strip()

                    # First variation for backward compatibility
                    first = variations[0] if variations else {}

                    # Limit to requested number
                    num = max(1, int(num_creatives) if num_creatives else 1)
                    variations = variations[:num]

                    return {
                        "hook": first.get("hook", ""),
                        "body": first.get("body", ""),
                        "cta": first.get("cta", ""),
                        "variations_json": json.dumps(variations),
                        "num_variations": len(variations),
                        "all_copy": copy_json
                    }
                except Exception as e:
                    fallback = [{"hook": custom_hook.strip() if custom_hook else "Check this out!", "body": "", "cta": "Learn more"}]
                    return {
                        "hook": fallback[0]["hook"],
                        "body": "",
                        "cta": "Learn more",
                        "variations_json": json.dumps(fallback),
                        "num_variations": 1,
                        "all_copy": copy_json,
                        "error": str(e)
                    }
          code_language: python3
          desc: Extract all variations and format for batch processing
          outputs:
            hook:
              type: string
            body:
              type: string
            cta:
              type: string
            variations_json:
              type: string
            num_variations:
              type: number
            all_copy:
              type: string
          selected: false
          title: Parse Copy
          type: code
          variables:
            - value_selector:
                - "2"
                - text
              variable: copy_json
            - value_selector:
                - "1"
                - custom_hook
              variable: custom_hook
            - value_selector:
                - "1"
                - num_creatives
              variable: num_creatives
        height: 98
        id: "3"
        position:
          x: 638
          y: 300
        type: custom
        width: 244

      - data:
          context:
            enabled: false
            variable_selector: []
          desc: Build image prompt
          memory:
            query_prompt_template: "{{#1.product#}}"
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.7
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
          prompt_template:
            - id: sys2
              role: system
              text: |
                Create Flux AI image prompts for meme-style ad backgrounds.

                Rules:
                1. Feature a PERSON with expressive reaction (shocked, excited, pointing, celebrating, confused, amazed)
                2. Simple clean solid color background
                3. Bright eye-catching lighting
                4. Photo-realistic style
                5. Under 50 words
                6. DO NOT include any instructions about text in the prompt itself

                Output ONLY the image description, nothing else.
            - id: usr2
              role: user
              text: "Create image for ad with hook: {{#3.hook#}}"
          selected: false
          title: Build Prompt
          type: llm
          variables:
            - value_selector:
                - "3"
                - hook
              variable: hook
          vision:
            enabled: false
        height: 98
        id: "4"
        position:
          x: 942
          y: 300
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: '{"prompt": "{{#4.text#}}, no text, no words, no letters, no writing, no captions", "backend": "{{#1.backend#}}", "size": "1024x1024", "negative_prompt": "text, words, letters, writing, captions, watermark, logo, signature"}'
            type: json
          desc: Generate base image
          headers: "Content-Type:application/json"
          method: post
          params: ""
          timeout:
            connect: 60
            max_connect_timeout: 60
            max_read_timeout: 180
            max_write_timeout: 180
            read: 180
            write: 180
          title: Generate Image
          type: http-request
          url: https://creo.yourads.io/tools/generate-image
          variables: []
        height: 98
        id: "5"
        position:
          x: 1246
          y: 300
        type: custom
        width: 244

      - data:
          code: |
            import json

            def main(body: str, background: str = "") -> dict:
                # If white background selected, skip generated image
                if background and background.lower() == "white":
                    return {"image_url": "white"}

                try:
                    data = json.loads(body)
                    if data.get("success") and data.get("images"):
                        url = data["images"][0]["url"]
                        # Fix internal IP to external URL
                        url = url.replace("http://185.241.151.190:8000", "https://creo.yourads.io")
                        return {"image_url": url}
                    return {"image_url": ""}
                except:
                    return {"image_url": ""}
          code_language: python3
          desc: Extract image URL or use white background
          outputs:
            image_url:
              type: string
          selected: false
          title: Parse Image
          type: code
          variables:
            - value_selector:
                - "5"
                - body
              variable: body
            - value_selector:
                - "1"
                - background
              variable: background
        height: 98
        id: "6"
        position:
          x: 1550
          y: 300
        type: custom
        width: 244

      - data:
          authorization:
            config: null
            type: no-auth
          body:
            data: ""
            type: none
          desc: Modern compositor with pictex effects (neon glow, gradients, pill buttons)
          headers: ""
          method: post
          params: "hook_text:{{#3.hook#}}\nbody_text:{{#3.body#}}\ncta_text:{{#3.cta#}}\npreset:{{#1.design_preset#}}\noutput_size:instagram_square\nbackground_image_url:{{#6.image_url#}}"
          timeout:
            connect: 60
            max_connect_timeout: 60
            max_read_timeout: 120
            max_write_timeout: 120
            read: 120
            write: 120
          title: Compose Modern
          type: http-request
          url: https://creo.yourads.io/tools/compose-modern
          variables: []
        height: 98
        id: "7"
        position:
          x: 1854
          y: 300
        type: custom
        width: 244

      - data:
          code: |
            import json

            def main(body: str, raw_image: str, hook: str, all_copy: str) -> dict:
                try:
                    data = json.loads(body)
                    if data.get("success"):
                        return {
                            "final_url": data["url"],
                            "raw_url": raw_image,
                            "hook": hook,
                            "all_copy": all_copy
                        }
                    return {"final_url": raw_image, "raw_url": raw_image, "hook": hook, "all_copy": all_copy}
                except:
                    return {"final_url": raw_image, "raw_url": raw_image, "hook": hook, "all_copy": all_copy}
          code_language: python3
          desc: Extract final URL
          outputs:
            final_url:
              type: string
            raw_url:
              type: string
            hook:
              type: string
            all_copy:
              type: string
          selected: false
          title: Parse Final
          type: code
          variables:
            - value_selector:
                - "7"
                - body
              variable: body
            - value_selector:
                - "6"
                - image_url
              variable: raw_image
            - value_selector:
                - "3"
                - hook
              variable: hook
            - value_selector:
                - "3"
                - all_copy
              variable: all_copy
        height: 98
        id: "8"
        position:
          x: 2158
          y: 300
        type: custom
        width: 244

      - data:
          answer: "## Your Complete Ad Creative\n\n**Final Ad (with text):**\n{{#8.final_url#}}\n\n**Raw Image (no text):**\n{{#8.raw_url#}}\n\n---\n\n## All Copy Variations\n{{#8.all_copy#}}"
          desc: ""
          selected: false
          title: Answer
          type: answer
          variables: []
        height: 107
        id: "9"
        position:
          x: 2462
          y: 300
        type: custom
        width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.5
