dify/archive/ad_creative_agent.yml
app:
  description: Auto-generates ad creatives with 4 visual formats (meme, text_only, split, stickers)
  icon: "\U0001F3A8"
  icon_background: '#FFEAD5'
  mode: workflow
  name: Ad Creative Agent
kind: app
version: 0.1.0
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: start-source-analyze-target
      source: 'start'
      sourceHandle: source
      target: 'analyze'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: analyze-source-copy-target
      source: 'analyze'
      sourceHandle: source
      target: 'copy'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: http-request
      id: copy-source-genimage-target
      source: 'copy'
      sourceHandle: source
      target: 'genimage'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: http-request
      id: genimage-source-compose-target
      source: 'genimage'
      sourceHandle: source
      target: 'compose'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: compose-source-end-target
      source: 'compose'
      sourceHandle: source
      target: 'end'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Configure your ad creative
        selected: false
        title: Start
        type: start
        variables:
        - label: Ad Request
          max_length: 1000
          options: []
          required: true
          type: paragraph
          variable: query
        - label: Visual Format
          max_length: 48
          options:
          - meme
          - text_only
          - split
          - stickers
          required: false
          type: select
          variable: format_type
        - label: CTA Style
          max_length: 48
          options:
          - text
          - button
          required: false
          type: select
          variable: cta_style
        - label: Right Side Color (for split)
          max_length: 20
          options: []
          required: false
          type: text-input
          variable: right_bg_color
      height: 150
      id: 'start'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Analyze the brief
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: sys-analyze
          role: system
          text: |
            You are an expert Creative Director. Analyze the user's request.

            User selected format: {{#start.format_type#}}
            User selected CTA style: {{#start.cta_style#}}

            Output ONLY valid JSON:
            {
              "platform": "instagram_square",
              "num_variations": 3,
              "text_color": "white",
              "prompt": "Image generation prompt...",
              "negative_prompt": "text, bad quality"
            }
        - id: user-analyze
          role: user
          text: '{{#start.query#}}'
        selected: false
        title: Analyze Brief
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: 'analyze'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Generate ad copy
        model:
          completion_params:
            temperature: 0.8
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: sys-copy
          role: system
          text: |
            Generate ad copy based on: {{#analyze.text#}}

            Output ONLY JSON array:
            [{"hook": "Hook", "body": "Body", "cta": "CTA"}]
        selected: false
        title: Generate Copy
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: 'copy'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{"prompt": "professional photo, high quality", "backend": "flux", "size": "1024x1024", "num_images": 1}'
          type: json
        desc: Generate AI image
        headers: 'Content-Type: application/json'
        method: post
        selected: false
        timeout:
          connect: 10
          read: 120
          write: 10
        title: Generate Image
        type: http-request
        url: https://creo.yourads.io/tools/generate-image
        variables: []
      height: 98
      id: 'genimage'
      position:
        x: 992
        y: 282
      positionAbsolute:
        x: 992
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: Compose final ads
        headers: 'Content-Type: application/json'
        method: post
        params:
        - key: image_url
          value: '{{#genimage.body.images[0].url#}}'
        - key: variations_json
          value: '{{#copy.text#}}'
        - key: output_size
          value: instagram_square
        - key: format_type
          value: '{{#start.format_type#}}'
        - key: cta_style
          value: '{{#start.cta_style#}}'
        - key: right_bg_color
          value: '{{#start.right_bg_color#}}'
        selected: false
        timeout:
          connect: 10
          read: 120
          write: 10
        title: Batch Compose
        type: http-request
        url: https://creo.yourads.io/tools/compose-batch
        variables: []
      height: 98
      id: 'compose'
      position:
        x: 1296
        y: 282
      positionAbsolute:
        x: 1296
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - 'compose'
          - body
          variable: result
        selected: false
        title: End
        type: end
      height: 90
      id: 'end'
      position:
        x: 1600
        y: 282
      positionAbsolute:
        x: 1600
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
